#register.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title= t('.title')
      = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', role: 'form' } do |f|
        .modal-body
          = render_record_errors resource
          .form-group
            = f.label :name, class: 'control-label col-sm-4'
            .col-sm-7
              = f.text_field :name, autofocus: true, class: 'form-control'
          .form-group
            = f.label :email, class: 'control-label col-sm-4'
            .col-sm-7
              = f.email_field :email, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label col-sm-4'
            .col-sm-7
              = f.password_field :password, class: 'form-control'
          .form-group
            = f.label :password_confirmation, class: 'control-label col-sm-4'
            .col-sm-7
              = f.password_field :password_confirmation, class: 'form-control'
        .modal-footer
          = render partial: "devise/shared/links"
          = f.submit t('.submit'), class: 'btn btn-primary'
