- if ROXCenter::AUTHENTICATION_MODULE == 'database'
  - label_size = 'col-sm-4'; control_size = 'col-sm-8'
- else
  - label_size = 'col-sm-3'; control_size = 'col-sm-9'
= record_form_for @user, create_url: create_users_path do |f|
  .modal-body
    = render_record_errors @user
    .form-group
      = f.label :name, class: "#{label_size} control-label"
      %div{ class: control_size }
        = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email, class: "#{label_size} control-label"
      %div{ class: control_size }
        = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :active, class: "#{label_size} control-label"
      %div{ class: control_size }
        .checkbox
          = f.check_box :active
    - if ROXCenter::AUTHENTICATION_MODULE == 'database'
      .form-group
        = f.label :password, class: "#{label_size} control-label"
        %div{ class: control_size }
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
          - unless @user.new_record?
            %span.help-block= t('.passwordInstructions')
      - if @user.new_record?
        .form-group
          = f.label :password_confirmation, class: "#{label_size} control-label"
          %div{ class: control_size }
            = f.password_field :password_confirmation, class: 'form-control'
  .modal-footer
    = link_to t('common.cancel'), @user.new_record? ? users_path : user_path(@user), class: 'btn btn-default'
    = f.submit t('common.save'), class: 'btn btn-primary'
