#login.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title= t('.title')
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal', role: 'form' }) do |f|
        .modal-body
          .form-group
            = f.label :name, class: 'control-label col-sm-3'
            .col-sm-8
              = f.text_field :name, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label col-sm-3'
            .col-sm-8
              = f.password_field :password, class: 'form-control'
          - if devise_mapping.rememberable?
            .form-group
              .col-sm-offset-3.col-sm-8
                .checkbox
                  = f.label :remember_me do
                    = succeed t('.remember_me') do
                      = f.check_box :remember_me
          - if notice
            .alert.alert-info.alert-dismissable
              %button.close{ type: :button, data: { dismiss: :alert }, aria: { hidden: true } } &times;
              = notice
          - if alert
            .alert.alert-warning
              %button.close{ type: :button, data: { dismiss: :alert }, aria: { hidden: true } } &times;
              = alert
        .modal-footer
          = render partial: "devise/shared/links"
          = f.submit t('.submit'), class: 'btn btn-primary'
