#login.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title= t('.title')
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal', role: 'form' }) do |f|
        .modal-body
          .form-group
            = f.label :name, class: 'control-label col-sm-3'
            .col-sm-8
              = f.text_field :name, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label col-sm-3'
            .col-sm-8
              = f.password_field :password, class: 'form-control'
          - if devise_mapping.rememberable?
            .form-group
              .col-sm-offset-3.col-sm-8
                .checkbox
                  = f.label :remember_me do
                    = succeed t('.remember_me') do
                      = f.check_box :remember_me
          - if flash[:notice].present?
            = bootstrap_alert type: :info, message: flash[:notice]
          - if flash[:alert].present?
            = bootstrap_alert type: :warning, message: flash[:alert]
        .modal-footer
          = render partial: "devise/shared/links"
          = f.submit t('.submit'), class: 'btn btn-primary'
