.loadingTestRunReport{ data: { module: :testRunReport, config: { path: legacy_api_test_run_path(@test_run), loading: true }.to_json } }
  .row
    .col-md-8.col-md-offset-2
      .well
        %h2= t('.title')
        %p.endedAt= l @test_run.ended_at.localtime, format: :long
        .autoUserAvatar{ data: { user: @test_run.runner.to_client_hash.to_json } }
        %table.table
          %thead
            %tr
              %th.passed= I18n.t('test_runs.report.status.passed')
              %th.failed= I18n.t('test_runs.report.status.failed')
              %th.inactive= I18n.t('test_runs.report.status.inactive')
              %th.all= I18n.t('test_runs.report.summary.all')
              %th.duration= I18n.t('test_runs.report.summary.duration')
          %tbody
            %tr
              %td.passed
                %span.label.label-success= @test_run.passed_results_count - @test_run.inactive_passed_results_count
              %td.failed
                %span.label.label-danger= @test_run.results_count - @test_run.passed_results_count - @test_run.inactive_results_count + @test_run.inactive_passed_results_count
              %td.inactive
                %span.label.label-warning= @test_run.inactive_results_count
              %td.all
                %span.label.label-info= @test_run.results_count
              %td.duration= human_duration @test_run.duration, format: :short
        .progress.progress-striped.active
          .progress-bar{ role: 'progressbar', style: 'width:100%;' }
