%li= link_to t('.overview'), doc_overview_path
%li= link_to t('.changelog'), doc_changelog_path
%li= link_to t('.deploy'), doc_deploy_path
%li.divider
%li.nav-header=t('.api.title')
%li= link_to t('.api.overview'), doc_api_overview_path
%li= link_to t('.api.resources'), doc_api_resources_path
%li= link_to t('.api.relations'), doc_api_relations_path
%li= link_to t('.api.media_types'), doc_api_media_types_path
%li= link_to t('.api.browser'), doc_api_browser_path
%li.divider
%li.nav-header= t('.integration')
%li= link_to t('.clients'), doc_clients_path
