!!!
%html
  %head
    = render :partial => 'layouts/head'
  %body{ data: body_data }
    %a#top{ :name => :top }
    = render :partial => 'layouts/navbar'
    .container.page-container
      - if user_signed_in?
        - if @maintenance
          = bootstrap_alert type: :warning, title: t('application.maintenance.title'), message: t('application.maintenance.notice'), class: %w(alert-maintenance)
        - { warning: :warning, success: :success, notice: :info, error: :danger }.each_pair do |key,klass|
          - if flash[key].present?
            = bootstrap_alert type: klass, title: t("flash.#{key}"), message: flash[key]
      = yield
    = render :partial => 'layouts/footer'
