!!!
%html
  %head
    = render :partial => 'layouts/head'
  %body{ data: body_data }
    %a#top{ :name => :top }
    = render :partial => 'layouts/navbar'
    .container.page-container
      - if @maintenance
        .alert.alert-warning.alert-dismissable.fade.in.flash.flash-maintenance
          %button.close{ type: :button, data: { dismiss: :alert }, aria: { hidden: true } } &times;
          %strong= t('application.maintenance.title')
          = t('application.maintenance.notice')
      - { warning: :warning, success: :success, notice: :info, error: :danger, maintenance: :warning }.each_pair do |key,klass|
        - if flash[key]
          .alert.alert-dismissable.fade.in{ class: (klass ? "alert-#{klass} flash-#{key}" : nil) }
            %button.close{ type: :button, data: { dismiss: :alert }, aria: { hidden: true } } &times;
            %strong= t("flash.#{key}")
            = flash[key]
      = yield
    = render :partial => 'layouts/footer'
